nav {
  display: flex;
  /* shortcut jcc */
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: coral;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}
